<!DOCTYPE html>

<html>

<head>
    <title>Weather Here!</title>
    <link rel="icon" href="img/sun-1314953_640.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Say it, dont spray it</p>

        <form>
            <input placeholder="Location">
            <button>Forecast!</button>
        </form>
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
    
</html>